{% extends "layout.html" %} {% block body %}
<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <textarea id="chat_text" class="materialize-textarea"></textarea>
            <label for="chat_text">Chat</label>
        </div>
    </div>
    <div class="row">
        <button class="btn" id="sendMessage" onclick="sendMessage();">Send Message</button>
    </div>
    <div class="row">
        <div class="col s12 z-depth-5" id="chathistory">
            <h1>Chat History</h1>
        </div>
    </div>
</div>
{% endblock %}
